
.modal-backdrop {
    position: fixed;
    background-color: transparent;
    inset: 0;
    z-index: 0;
   
}

.modal-content {
    //position: fixed;
    user-select: none;

    position:absolute;
    font-size: 1.1em;
    inset: 0;
    width: 25vw; 
    height: fit-content;
    padding: 3px;
    background:$dark-clr3;
    color: white;
    z-index: 3;
    border-radius: 5px;
    display: grid;
    // align-content: start;
    justify-content: stretch;

    & ul {
        list-style:none;
        // padding-left:10px;
        margin:0;
        padding:0;
    }

    & ul li {
        padding:10px;
        & span{
            font-size:14px;
        }
        &:hover {
            background-color:$dark-clr5;
        }
    }


    @include for-mobile-layout {
        & {
            width: 100%;
            top:inherit;
            bottom:0;
        }
    }



    & ul li.lastInGroup {
        border-bottom:1px solid $gray4;
    }

    
    .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    p {
        text-align: center;
        margin: 15px;
    }



    &.floating-menu-song-add {   
        width: minmax(20vw, 200px);
    }

    &.floating-menu-song {
        align-items: start;
        width: minmax(20vw, 200px); 
    }

   

   &.floating-edit-station-details {
    margin: auto;
    width: minmax(40vw, 450px);
   }

   &.floating-menu-station {
     width: minmax(20vw,250px);
   }

   
}


