
.modal-backdrop {
    position: fixed;
    background-color: $dark-clr4;
    //backdrop-filter: blur(2px);
    inset: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
   
}

.modal-content {
    //position: fixed;
    position:absolute;
    font-size: 1.1em;
    inset: 0;
    width: 40vw; 
    height: fit-content;
    padding: 20px 0px;
    background:$dark-clr3;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border-radius: 10px;
    justify-content: space-evenly;
    // margin: auto;
    z-index: 3;
    border-radius: 15px;

    ul {
        list-style:none;
        padding-left:0;
    }

    ul li {
        padding:10px;
    }

    .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    p {
        text-align: center;
        margin: 15px;
    }



    &.floating-menu-song {
        align-items: start;
         width: 30vw;
    }

    &.floating-menu-song-add {
        align-items: start;
        width: 20vw;
        height: 200px;
        overflow-y: scroll;
    }

  

   &.floating-edit-station-details {
    margin: auto;
    width: 40vw;
   }

   &.floating-menu-station {
   width: 25vw;
   }

   
}


