.search-result {

    .search-result-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        padding: 15px;

        & h2 {
            padding-left: 10px;
        }

        & .inner-grid {
            display: grid;
            grid-template-rows: auto 1fr;
        }

        & .top-result-container {
            display: grid;
            grid-template-rows: 2fr 1fr 1fr;
            align-items: center;
            background-color: $bgc-top-result;
            border-radius: 15px;

            & img {
                width: 120px;
                border-radius: 15px;
            }

            & h3 {
                font-size: 40px;
                margin: 0;
            }
        }

        & ul.song-list {
            display: grid;
        }

        .span-no-results {
            grid-column: 1/-1;
            padding-left: 10px;
        }
    }
}