// .song-details  {
//     display: grid;
//     grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr;
//     align-items: start;
// }


.song-details img {
    max-width: 100px;
    max-Height: 100px;
    display: block;
  }