.song-preview {

  border-radius:10px;
  margin: 10px 0;

  &:hover {
    background-color:$clr3;
  }


  .square-ratio {
    width:50px;
  }

  img {
    display: block;
    border-radius:10px;
  }



  &.station {
    & .number .play{ display:none;}
    &:hover .number  {
      & .play{ display:block;}
      & .num{ display:none;}
    }


    & .add {display:none;}
    & .more {display:none;}
    &:hover .add {display:block;}
    &:hover .more {display:block;}

    & .song-details-col1{
      display:grid;
      grid-template-columns: auto 1fr;
      justify-content: start;
      gap:10px;
      
      & .song-details-inner {
          display: grid;
          align-content: space-evenly;
      }


    }


  }


  &.searchAtStation {
    display:grid;
    grid-template-columns: 2fr 1fr auto;
    align-items: center;
    padding: 0 10px;


    & .song-details-col1{
      display:grid;
      grid-template-columns: auto 1fr;
      justify-content: start;
      gap:10px;
      
      & .song-details-inner {
          display: grid;
          grid-template-rows: 1fr 1fr;
          align-content: space-evenly;
      }



      & .square-ratio {
        
          & .play {display:none; 
            align-items: center;
            justify-content: center;}
          &:hover .play {display:flex;}
      }
    }
  }
}