.song-list {
  padding-left:0;



  & .song-preview-station-grid {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.5fr 0.2fr 0.2fr;
    align-items: center;
    padding: 5px 10px;



    @include for-mobile-layout {


      grid-template-columns: 0fr 1.2fr 0fr 0.1fr 0fr;
      padding: 5px 5px;
      & label:first-child  {display:none;}
      & label:nth-child(3)  {display:none;}
      & div:first-child .num {display:none;}
      & span.date {display:none;}
      & span.add {display:none;}
    }
  }

 
}