.song-list {
    padding-left:0;


    & .song-preview-station-grid {
        display: grid;
        grid-template-columns: 0.2fr 2fr 0.5fr 0.2fr 0.2fr;
        align-items: center;
        padding: 5px 10px;
      }
}