.station-details {
    & header {
        display: grid;
        gap: 10px;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
        background: #cdb2b2;
        padding: 10px;
    }


    & .intro-outer {

        & > img {
            width:150px;
        }
      
        & h2 {
            font-size: 5em;
        }

        & .intro-inner.sb {
            align-content: space-between;
        }
    }


    & .svg-big {margin:20px;}

}