.station-index {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 0px;
    grid-template-rows: 0.5em 0.4fr 2.3fr 0.3fr;
    grid-template-areas:
        "s s s"
        "a m c"
        "a m c"
        "f f f";
    gap: 0 10px;
    height: 100%;


    &.display-card {
        grid-template-columns: 0.7fr 0.8fr 0.5fr;
    }

    header {
        //grid-area: h;
        display: grid;
        grid-template-columns: auto 1fr;
        // align-items: center;
        padding:10px;
        // align-content: center;
        // grid-auto-flow: column;
        // justify-content: start;
        gap: 5px;


        // form {
        //     display: grid;
        //     grid-auto-flow: column;
        //     justify-content: start;
        //     align-content: center;
        //     width: 100%;

        //     .icon-search {
        //         width: max-content;
        //         align-self: center;
        //     }

        //     input {
        //         background-color: $bgc-search;
        //         border-radius: 500px;
        //         border: 0;
        //         height: 48px;
        //         color: white;
        //     }
        // }
    }

    main {
        grid-area: m;
        overflow: auto; 
        transition: overflow 0.3s ease;
    }

    aside {
        grid-area: a;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        gap: 10px;

        & > * { padding:20px; }

       

        nav {
            grid-area: 1 / 1;

            display:grid;
            grid-template-rows: auto auto;
            justify-content: start;
            align-items:center;
            gap:10px;
            padding: 10px 30px;
           
        }

        .library {
            grid-area: 2 / 2;
            overflow-x :auto;


            & .library-pannel {
                display:grid;
                grid-template-columns: 1fr auto auto;
                justify-items: start;
                // padding:10px;
            }

            & .library-types {
                padding:15px 0px;
            }


            & .search-in-lib{
                position:relative;
                & .btn-icon {width:40px; transition:all 500ms; height:3em;}
                &:hover .btn-icon {width:250px;}

                & form {display:none; position:absolute; left:40px; top:-10px;}
                &:hover form {display:block;}

                display:grid;
                grid-template-columns:  auto auto;
                justify-items: start;
            }
            
        }
    }

    footer {
        grid-area: f;

        position: absolute;
        bottom: 10px;
        width: 100%;
    }


    .card {
        grid-area: c;

    }
}


.station-index header,
.station-index main,
.station-index aside nav,
.station-index aside .library {
    background-color: $dark-clr1;
}

// .station-index header {
//     grid-area: h;
// }

// .station-index main {
//     grid-area: m;
//     overflow-x: auto;
// }

// .station-index aside {
//     grid-area: a;
//     display: grid;
//     grid-template-columns: subgrid;
//     grid-template-rows: subgrid;
//     gap: 10px;
// }

// .station-index aside nav {
//     grid-area: 1 / 1;
// }

// .station-index aside .library {
//     grid-area: 2 / 2;
// }

// .station-index footer {
//     grid-area: f;
// }