/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(($height / $width) * 100%);
    }
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    > img {
      height: 100%;
      object-fit: cover;
    }
  }
  
  // Mixin for removing hover efects on iphone screen
  @mixin hover-supported {    
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
  }




  @mixin btn{
    background-color: $clr3;
    border-radius: 2em;
    border: none;
    color: $clr4;
    line-height: 2em;
    padding: 0 10px;
    margin:5px;
  }
 
  @mixin blockBtn( $type : "reguler") {
   
    @if $type == "active" {
        background-color: $clr4;
        color: $clr3;
    }

    @if $type == "hover" {
        background-color: lighten($clr3, 5%);  
    }

 

  }




 @mixin icon {
    width: 20px;
    height: 20px;
    display: block;
    border-radius:50%;
    fill: $clr6;
 }

  @mixin iconBlock(  $color: "light") {

    @if $color == "dark" {
        fill: $clr3;
    }

  }


  @mixin svgBig (){
    width: 50px;
    height: 50px;
    background: $clr5;
    border-radius:50%;
    padding:15px;
   }
  

 @mixin bigger {
    transform: scale(1.04);
   }
  