// Colors
$bgc-clr1: #121212; //grid background
$clr2: #000; 
$clr3: #232323; //buttons bg
$clr4: #fdfdfd; //buttons color
$clr5: #1ed760;
$clr6: #fff;
$clr7: #222;
$bgc-top-result: #181818;
$bgc-search: #242424;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;