// Colors
$primery-clr: #1ed760;

$dark-clr1: #121212; //grid background
$dark-clr2: #000; 
$dark-clr3: #232323; //buttons bg
$dark-clr4: #282828;  //modal bg
$dark-clr5: #3e3e3e;  //li in modal - hover


$bgc-top-result: #181818;
$bgc-search: #242424;

$btn-text-clr1: #a7a7a7;

$light-clr1: #fdfdfd; //buttons color
$light-clr2: #fff;



$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;


$user-msg-background: #ddd;
$user-msg-clr: #333;
// $user-msg-success: #b0e3a5;
// $user-msg-warrning: #eea08c;




// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;